all.xsd

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="feed">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="title" type="xsd:string" />
        <xsd:element name="link">
          <xsd:complexType>
            <xsd:attribute name="rel" type="xsd:string" />
            <xsd:attribute name="type" type="xsd:string" />
            <xsd:attribute name="href" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="updated" type="xsd:dateTime" />
        <xsd:element name="author">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="name" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="id" type="xsd:string" />
        <xsd:element name="entry">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="title" type="xsd:string" />
              <xsd:element name="link">
                <xsd:complexType>
                  <xsd:attribute name="rel" type="xsd:string" />
                  <xsd:attribute name="type" type="xsd:string" />
                  <xsd:attribute name="href" type="xsd:string" />
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="id" type="xsd:string" />
              <xsd:element name="published" type="xsd:dateTime" />
              <xsd:element name="updated" type="xsd:dateTime" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>

